@use "../presets" as *;
@use "../mixins" as *;

.navbar-info {
  margin-bottom: 1px;
  padding: $gap 0;

  background-color: $color-light;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
      flex-direction: column;
    }
  }
}

.feedback {
  display: flex;
  align-items: center;

  gap: $gap-xs $gap-xl;

  @include xx {
    flex-direction: column;
  }

  &__phone {
    color: $color-primary;

    font-size: 1rem;
  }
}
