@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;

  border-width: 2px;
  border-style: solid;
  border-radius: $gap-xl;

  &--primary {
    border-color: $color-accent;
    background-color: $color-white;
  }

  &--secondary {
    border-color: $color-white;
    background-color: $color-accent;
  }

  &--sm {
    width: 130px;
    min-height: 35px;
    border-color: $color-accent;
    background-color: $color-accent;
    color: white;
  }
}

.container {
  width: min(100% - $gap-xl, $xl);

  margin-inline: auto;
}
