@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  color: $color-gray;
  background-color: $color-dark-light;

  font-size: 0.875rem;
}

a {
  text-decoration: none;

  color: inherit;
}
